### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
count_nums = purchase_data['SN'].unique()
player_nums = len(count_nums)
player_nums

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
cool_item = purchase_data['Item Name'].unique()
unique_item = len(cool_item)
avg_price = purchase_data['Price'].mean()

num_of_purchases = purchase_data['Price'].count()
total_rev = purchase_data['Price'].sum()


summary_df = pd.DataFrame({"Number of Unique Items": [unique_item],
                              "Average Price": avg_price,
                              "Number of purchases": num_of_purchases,
                              "Total Revenue": total_rev})
summary_df

   Number of Unique Items  Average Price  Number of purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
male_count = purchase_data.loc[purchase_data['Gender']== 'Male', :] 
men = male_count['Gender'].count()

female_count = purchase_data.loc[purchase_data['Gender']== 'Female', :] 
women = female_count['Gender'].count()

other_count = purchase_data.loc[purchase_data['Gender']== 'Other / Non-Disclosed', :] 
other = other_count['Gender'].count()

percent_male = (men/780)*100
percent_female = (women/780)*100
other_ND = (other/780)*100


summary_df = pd.DataFrame({'Gender': ["Male", "Female", "Other"],
                                      'Total Count': [men, women, other],
                             'Percentage of Players': [percent_male, percent_female, other_ND]
                          })

new_summary_df = summary_df.set_index(['Gender'])

new_summary_df

        Total Count  Percentage of Players
Gender
Male            652              83.589744
Female          113              14.487179
Other            15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Counts, Sum and Averages for Genders
male_count = purchase_data.loc[purchase_data['Gender']== 'Male', :] 
men = male_count['Gender'].count()
avg_men_price = male_count['Price'].mean()
male_sum = male_count['Price'].sum()

female_count = purchase_data.loc[purchase_data['Gender']== 'Female', :] 
women = female_count['Gender'].count()
avg_women_price = female_count['Price'].mean()
female_sum = female_count['Price'].sum()

other_count = purchase_data.loc[purchase_data['Gender']== 'Other / Non-Disclosed', :] 
other = other_count['Gender'].count()
other_avg_price = other_count['Price'].mean()
other_sum = other_count['Price'].sum()

# Purchase Per Person
per_person_male = male_count.groupby(["SN"]).sum()
sum_unique_men = per_person_male["Price"].sum()
avg_unique_male = per_person_male["Price"].mean()

per_person_female = female_count.groupby(["SN"]).sum()
sum_unique_female = per_person_female["Price"].sum()
avg_unique_female = per_person_female["Price"].mean()

per_person_other = other_count.groupby(["SN"]).sum()
sum_unique_other = per_person_other["Price"].sum()
avg_unique_other = per_person_other["Price"].mean()

#Summary Table

summary_df = pd.DataFrame({'Gender': ["Male", "Female", "Other"],
                            "Purchase Count": [men, women, other],
                             'Average Purchase Price': [avg_men_price, avg_women_price, other_avg_price],
                             "Total Purchase Value": [sum_unique_men, sum_unique_female, sum_unique_other],
                            "Average Total Purchase Per Person": [avg_unique_male, avg_unique_female, avg_unique_other]
                          })

new_summary_df = summary_df.set_index(['Gender'])

new_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#establishing Bin

bins = [0, 9, 14, 19, 24, 29, 34, 39,  10000]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

#Count and Percentages

age_count = purchase_data["Age Ranges"].value_counts()

age_percent = (age_count/780)*100


#Summary Table

summary_df = pd.DataFrame({'Age Ranges': ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                            "Count": age_count,
                             "Percentage": age_percent
                          })

new_summary_df = summary_df.set_index(['Age Ranges'])

new_summary_df

            Count  Percentage
Age Ranges
<10           365   46.794872
10-14         136   17.435897
15-19         101   12.948718
20-24          73    9.358974
25-29          41    5.256410
30-34          28    3.589744
35-39          23    2.948718
40+            13    1.666667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#establishing Bin by age

bins = [0, 9, 14, 19, 24, 29, 34, 39,  10000]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)



#Getting count of purchases, average purchase price, and purchase total per person
age_count = purchase_data["Age Ranges"].value_counts()
sum_purch = purchase_data.groupby(["Age Ranges"]).sum()["Price"]
count_purch = purchase_data.groupby(["Age Ranges"]).count()["Price"]
avg_price = purchase_data.groupby(["Age Ranges"]).mean()["Price"]



per_person_purchase = sum_purch/age_count

per_person_purchase

#Summary Table

summary_df = pd.DataFrame({'Age Ranges': ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                            "Purchase Count": count_purch,
                            "Average Purchase Price": avg_price,
                            "Total Purchase Value": sum_purch,
                            "Average Total Per Person": per_person_purchase
                          })

new_summary_df = summary_df.set_index(['Age Ranges'])

new_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Per Person
Age Ranges,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
spender_count = purchase_data.groupby("SN")["Purchase ID"].count()

spender_count




#Getting Purchase count, Avg Purchase Price, and total purchase value
#num_of_purchases = purchase_data['Price'].count()

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame